<div>
  <div class="banner position-relative" data-target="navbar.banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banners/search" %>);">
    <div class="container d-flex justify-content-center flex-column h-100">
      <div>
        <%= render 'form_search' %>
      </div>
    </div>
  </div>
</div>
