<div class="card-trip shadow bg-white rounded-lg m-3">
  <div class="row d-flex justify-content-between m-0 p-4">
    <div class="card-left">
      <div class="card-booking d-flex flex-wrap">
        <h3 class="card-booking-origin mr-3">
          <%="#{booking.passenger.last_name}, #{booking.passenger.last_name}" %>
        </h3>
      </div>
      <div class="card-tags">
          <h3 class="card-booking-email"><%= booking.passenger.email%></h3>
        <i class="fas fa-venus-double"></i><i class="fas fa-smoking-ban"></i>
      </div>
      <div class="card-booking-managment d-flex">
        <% if booking.passenger.email == 'saad@le.com' %>
        <div class="card-booking-approvment m-3">
          <div class="btn btn-success">approve</div>
        </div>
        <% end %>
        <div class="card-booking-cancel m-3">
          <div class="btn btn-danger">cancel</div>
        </div>
      </div>
    </div>
    <div class="card-right d-flex flex-column justify-content-between text-right">
      <div class="card-passenger">
        <%= cl_image_tag booking.passenger.photo, class: "avatar" %>
        <h3>rating</h3>
      </div>
      <div class="card-booking-status">
        <h3>approved</h3>
      </div>
    </div>
  </div>
</div>
