<div class="card-trip border bg-white my-3 m-md-3">
  <div class="row d-flex justify-content-center m-0 pl-5 h-100 align-items-center">
    <div class="card-left d-flex flex-column justify-content-between">
      <div class="card-journey">
        <h3 class="card-journey-origin mb-0">
          <%= trip.start_time.strftime("%H:%M") %> <small> <%= trip.start_point %>  </small>
        </h3>
        <div class="align-items-center">
          <i class="fas fa-arrow-circle-down my-3"></i>
          <h3 class="card-journey-destination">
             <%= trip.end_time.strftime("%H:%M") %> <small> <%= trip.end_point %> </small>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
