<div class="card-trip shadow bg-white rounded-lg m-3">
  <div class="row d-flex justify-content-between m-0 p-4">
    <div class="card-left">
      <div class="card-journey">
        <h3 class="card-journey-origin">From: Le Wagon Tokyo, Meguro-ku, Tokyo</h3>
        <h3 class="card-journey-destination">To: Osaka</h3>
      </div>
      <div class="card-tags">
        <i class="fas fa-venus-double"></i><i class="fas fa-smoking-ban"></i>
      </div>
    </div>
    <div class="card-right d-flex flex-column justify-content-between text-right">
      <div class="card-driver">
        Trouni Tiet
        <%= image_tag "http://source.unsplash.com/200x200", class: "avatar" %>
      </div>
      <h4 class="card-price">
        ¥3500
      </h4>
    </div>
  </div>
</div>
