<% trips_by_date = trips.group_by { |trip| trip.start_date } %>
<% trips_by_date.keys.sort.each do |date| %>
  <h3 class="text-center"><%= date %></h3>
  <% trips_by_date[date].each do |trip| %>
    <%= render partial: "trips/card", locals: { trip: trip } %>
  <% end %>
<% end %>
