<div class="cards-container">
  <% trips_by_date = trips.group_by { |trip| trip.start_date } %>
  <% trips_by_date.keys.sort.each do |date| %>
    <p class="departure-date text-center"><%= Date.today < date ? 'Departing on' : 'Completed on'%> <strong><%= date%></strong></p>
    <% trips_by_date[date].each do |trip| %>
      <%= link_to trip_path(trip) do %>
        <%= render partial: "trips/card", locals: { trip: trip } %>
      <% end %>
    <% end %>
  <% end %>
</div>
