<div class="banner position-relative d-flex align-items-center py-5 p-sm-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banners/driver.jpg" %>);">
  <div class="container d-flex align-content-center justify-content-center flex-column h-100">
  </div>
</div>
