<div class="banner position-relative d-flex align-items-center py-5 p-sm-3" data-target="navbar.banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path banner_url %>);">
  <div class="container d-flex align-content-center justify-content-center flex-column h-100">
    <div>
      <%= render 'form_search' %>
    </div>
  </div>
</div>
