<div class="container">
<%= render partial: "trips/card", locals: { trip: @trip } %>
<% if current_user.email == 'alex@le.com' %>
<div><h2 class="text-center">Bookings for the trip: </h2></div>
<% @bookings.each do |booking| %>
    <%= render partial: "trips/card_bookings", locals: { booking: booking } %>
<% end %>
<% else %>
<div class="card-align-items-center m-3">
  <div class="btn btn-primary btn-lg">apply for trip</div>
</div>
<% end %>
</div>

<%= simple_form_for [@trip, @booking] do |f| %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
