
<div class="container">
<%= render partial: "trips/card", locals: { trip: @trip } %>
<% if current_user ==  @trip.driver #'alex@le.com'%>
  <div><h2 class="text-center">Bookings for the trip: </h2></div>
  <% @bookings.each do |booking| %>
      <%= render partial: "trips/card_bookings", locals: { booking: booking } %>
  <% end %>
<% elsif Booking.where(passenger: current_user, trip: @trip).length > 0%>
  <%= render partial: "trips/card_bookings", locals: { booking: @bookings.where(passenger: current_user).first } %>
<% else %>
<div class="card-align-items-center m-3">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal">
  Apply for trip
</button>
<%= render "trip-summary-card" %>
<% end %>
</div>


