<div class="banner position-relative d-flex align-items-center py-5 p-sm-3" data-target="navbar.banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path banner_url %>);">

  <div class="container d-flex justify-content-center flex-column h-100">
    <div>
      <h1 class="my-3 col-12 col-sm-12 p-0"><%= title %></h1>
    </form>
    </div>
  </div>


</div>
