<% if user.rating.nil? %>
<% else %>
  <p class="reviews-stars">
  <% user.rating.times do %>
    <i class="fas fa-star"></i>
  <% end %>
  <%(5 - user.rating).times do%>
    <i class="far fa-star"></i>
  <% end %>
  (<%= user.rating%>)
  </p>
<% end %>
