.booking-cart {
  span {
    font-size: 16px;
    font-weight: 200;
  }
  .confirmed{
    color: $seagreen;
    font-weight: bold;
  }
  .booking-confirmed-false{
    background-color: $yellow-translucent;
    padding: 8px;
  }

  .booking-confirmed-true{
    background-color: $seagreen-translucent;
    padding: 8px;
  }

  .card-grid-2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 8px;
  }

  .applied{
    color: $red;
    font-weight: bold;
  }
}
