.booking-cart {
  span {
    font-size: 16px;
    font-weight: 200;
  }
  .confirmed{
    color: $seagreen;
    font-weight: bold;
  }
  &.pending{
    background-color: $yellow-translucent;
  }

  &.confirmed{
    background-color: $seagreen-translucent;
  }

  .applied{
    color: $red;
    font-weight: bold;
  }
}

.info-window{
  text-align: left;
}
