// .navbar-torippu {
//   justify-content: space-between;
//   background: transparent;
//   padding-bottom: 0px;
//   padding-top: 0px;
// }

// .navbar-torippu .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-torippu .navbar-brand img {
//   width: 75px;
// }

// .navbar-light .navbar-nav .nav-link {
//   color: $seagreen;
//   &:hover {
//     color: $gray;
//   }
// }



.navbar-torippu {
  justify-content: space-between;
  background-color: transparent;
  color: white;
  transition: 0.3s background-color ease, 0.5s opacity;
}

.navbar-torippu .navbar-collapse {
  flex-grow: 0;
}

.navbar-torippu .navbar-brand {
  line-height: 2em;
  font-size: 0.8em;
  // opacity: 0;
}

.navbar-torippu-visible {
  background-color: $seagreen;
  transition: 0.3s background-color ease, 0.5s opacity;
  // .navbar-brand {
  //   opacity: 1;
  // }
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler {
  border: none;
}

#navbarSupportedContent {
  text-align: right;
}
