.navbar-torripu {
  justify-content: space-between;
  background: white;
  padding-bottom: 0px;
  padding-top: 0px;
}

.navbar-torripu .navbar-collapse {
  flex-grow: 0;
}

.navbar-torripu .navbar-brand img {
  width: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: $seagreen;
  &:hover {
    color: $gray;
  }
}

